@import "utilities.css";
:root {
  --primary: #3dcfd3;
  --pri: #c3e212;
  --dark: #161616;
  --pure: #ffffff;
  --ternary: #898989;
  --light: #f2f2f2;
  --secondary: #070606;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
header {
  background: var(--dark);
}
.container {
  max-width: 1152px;
  padding: 0 15px;
  margin: 0 auto;
}
.branding {
  margin-right: 3rem;
}

.menu-itmes ul {
  list-style: none;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.menu-itmes ul li {
  text-decoration: none;
}
.menu-itmes ul li a {
  padding: 0 16px;
  color: var(--pure);
  text-decoration: none;
}
.menu-itmes ul li a:hover {
  color: var(--primary);
}

a.active {
  color: var(--pri);
}

header nav {
  padding: 1rem 0;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://img3.wallspic.com/crops/8/1/2/1/71218/71218-ocean-promontory-coast-sea-caribbean-3840x2160.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
}
.hero-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75vh;
  color: #ffffff;
  font-size: xxx-large;
  text-transform: uppercase;
}
.hero-text p {
  color: #ffff00;
}

footer {
  background: var(--dark);
  text-align: center;
  padding: 15px 0;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-logo {
  width: 150px;
}
footer .footer-socials a {
  margin-right: 1rem;
}
footer .footer-socials {
  margin-right: -1rem;
}
footer .copyright {
  color: var(--ternary);
}

i.social-media {
  font-size: 20px;
  color: #fff;
}

/*---___Image Gallery___---*/

section {
  background-color: #000;
}
.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.image-gallery-area {
  padding: 100px 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 6vw);
  grid-gap: 16px;
}

.gallery img:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery img:nth-child(2) {
  grid-column-start: 7;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery img:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 7;
}
.gallery img:nth-child(4) {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 7;
}
.gallery img:nth-child(5) {
  grid-column-start: 7;
  grid-column-end: 13;
  grid-row-start: 3;
  grid-row-end: 5;
}
.gallery img:nth-child(6) {
  grid-column-start: 7;
  grid-column-end: 13;
  grid-row-start: 5;
  grid-row-end: 7;
}
